@use '../../scss/variables' as vars;
@use '../../scss/mixins' as mixins;
.btn {
  border: 2px solid transparent;
  outline: 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 0.75rem;

  @include mixins.mobile {
    font-size: 1rem;
  }

  &__txt {
    padding: 0.5rem 2rem;
    display: block;
    font-size: 1rem;
    font-style: oblique;
    @include mixins.mobile {
      padding: 0.5rem 1.5rem;
    }
    @include mixins.tablet {
      padding: 0.5rem 1.5rem;
    }
  }
  &__icon {
    border-color: transparent !important;
    padding: 0.5rem;
    background-color: vars.$background-gray;
    margin-left: 1rem;
    @include mixins.mobile {
      padding: 0.25rem;
    }
    @include mixins.tablet {
      padding: 0.25rem;
    }
  }
  &__raised {
    padding: 0.5rem;
    display: block;
  }

  &-primary {
    background-color: vars.$btn-primary-bg;
    color: vars.$txt-primary-color;
    transition: background 0.5s;

    &:not(:disabled):hover {
      background-color: vars.$primary-bg-color-hover;
      transition: background 0.5s;
    }
    &:disabled {
      opacity: 0.6;
      cursor: default;
    }
  }

  &-secondary {
    background-color: vars.$secondary-bg;
    color: vars.$main-color;
    border-color: vars.$primary-bg-color;
    transition: background 0.5s;

    &:not(:disabled):hover {
      border-color: vars.$secondary-bg-hover;
      transition: background 0.5s;
    }
    &:disabled {
      opacity: 0.6;
      color: vars.$txt-second-disabled;
      cursor: default;
    }
  }

  svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.rounded {
  border-radius: 100px;
}
