@use '../../scss/variables' as vars;
@use '../../scss/mixins' as mixins;
.collection {
  background-color: vars.$main-bg;

  &-actions {
    @include mixins.flex(center, space-between);
    padding: 6rem 0 1rem 0;

    @include mixins.tablet {
      padding-top: 4rem;
      padding-bottom: 0.5rem;
    }
    @include mixins.mobile {
      padding-top: 2rem;
      padding-bottom: 0.5rem;
    }
    &__title {
      font-weight: 900;
      font-style: oblique;
      font-size: 2rem;
      text-transform: uppercase;
      color: vars.$txt-yellow;

      @include mixins.tablet {
        font-size: 1.5rem;
      }
      @include mixins.mobile {
        font-size: 1.5rem;
      }
    }
  }
  &-item {
    @include mixins.flex(center, space-between);
    overflow-x: auto;
    white-space: nowrap;
    gap: 1rem;

    &__img {
      flex: 0 0 auto;
    }
  }
}
