$primary-bg-color: #ffc700;
$primary-bg-color-hover: #c79b12;
$primary-color: #4267b2;
$secondary-bg: #1f1f1f;
$secondary-bg-hover: #ffe8ab;
$main-bg: #000;
$main-color: #d2d2d2;
$background-overlay: #1f2023;
$background-gray: #383a42;
$txt-primary-color: #1f1f1f;
$txt-second-color: #8d8d8d;
$txt-white: #fff;
$txt-yellow: #ffc700;
$txt-second-disabled: #d2d2d2;
$menu-bar-color: #1f2023;

$btn-primary-bg: $primary-bg-color;
$btn-primary-color: #fff;

$header-height: 80px;
$header-tablet-height: 70px;
$header-mobile-height: 60px;

$mobile-width: 600px;
$tablet-width: 1024px;
